* {
margin:0;
padding:0;
box-sizing: border-box;
font-family: sans-serif;

}

.container{

    margin:80px auto;
    max-width: 640px;
    width:100%;
  
}

form{
    margin-top:40px;
}

input,textarea,button {
display: block;
padding: 10px;
margin-bottom: 10px;
width:100%;
resize:none;
}

button{
    background-color: green;
    border:none;
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size: 18px;
    font-style:italic;
    cursor:pointer;
  }

  button:hover{
    background-color: green;
  }

 